.d3_widget.button {
	fill:none;
	stroke:#000;
	stroke-width:0.5px;
}

.d3_widget.button > .background {
	fill: #ccc;
	cursor: pointer;
}

.d3_widget.button > .background.lit{
	fill: #eee;
	cursor: pointer;
}

.d3_widget.button > .symbol {
	fill: #fff;
	fill-rule:nonzero;
	pointer-events: none;
}

.d3_widget.button > .symbol.lit {
		fill: #bbb;
		pointer-events: none;
}

.d3_widget.button > .label {
  fill:black;
  stroke:none;
}